{{extend 'layout.html'}}

<h2>Selecione o curso: </h2>

<form action="{{=URL(request.application, 'default', 'index')}}">
	<select name="course" onchange="this.form.submit()">
		<option value="">Escolha o curso...</option>
		{{for course in get_courses():}}
			<option {{="selected='True'" if 'course' in request.vars and course == request.vars['course'] else ''}} value="{{=course}}">
				{{=course}}
			</option>
		{{pass}}
	</select>
</form>

<hr/>

<ul>
{{for person in people:}}
	<li>{{=person}}</li>
{{pass}}
</ul>
